* {
  box-sizing: border-box;
}

.container {
  max-width: 1270px;
  padding: 15px;
  margin: 0 auto;
}

.first,
.second,
.third,
.fourth,
.fifth {
  border-radius: 5px;
  margin-bottom: 50px;
  border: 2px solid #932516;
}

.block {
  width: 200px;
  height: 150px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  padding: 30px;
  margin: 30px;
}

.first__block2,
.second__wrap-blocks,
.third__wrap-blocks,
.fourth__wrap-blocks,
.fifth__wrap-blocks {
  float: right;
}

.fourth__block1,
.fifth__block1 {
  height: 330px;
}

.fourth__wrap-blocks-main,
.fifth__wrap-blocks-main {
  max-width: 540px;
  margin: 0 auto;
}

.fourth__block2,
.fourth__block3,
.fifth__block2,
.fifth__block3 {
  display: block;
}

.fifth__wrap-blocks-main {
  margin-right: 0;
}

.first .block {
  background-color: #353585;
}

.second .block {
  background-color: #932516;
}

.third .block {
  background-color: #ded256;
}

.fourth .block {
  background-color: #388535;
}

.fifth .block {
  background-color: #5a3585;
}